<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Administrativa</title>
</head>
<body>
    <h1>Tablas</h1>
    <ul>
      <li> <a href="/admin/Integrantes/listar"> Integrantes </a></li>
      <li>Tabla 2</li>
      <li>Tabla 3</li>
    </ul>
    <a href="/">volver</a>
</body>

</html>