<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Integrantes</title>
    <style>
        /* Estilo general para el cuerpo */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f9f9f9;
}

/* Estilo para el título */
h1, h2 {
    text-align: center;
    color: #333;
}

/* Estilo para la sección de la tabla */
section {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* Estilo para la tabla */
table {
    width: 80%;
    border-collapse: collapse;
    margin: 0 auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para las celdas de la cabecera */
th {
    background-color: #aa8caf;
    color: white;
    padding: 10px;
    text-align: left;
    border-bottom: 2px solid #ddd;
}

/* Estilo para las celdas */
td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

/* Estilo para las filas impares */
tr:nth-child(odd) {
    background-color: #f2f2f2;
}

/* Estilo para las filas al pasar el cursor */
tr:hover {
    background-color: #e9e9e9;
}

/* Estilo para los enlaces */
a {
    color: #af4c91;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
    </style>
</head>
<body>
    
</body>
    <h1>integrantes</h1>
    <h2>listado</h2>    
    <section>
        <table>
            <tr>
                <th>id</th>
                <th>matricula</th>
                <th>nombre</th>
                <th>apellido</th>
                <th>url</th>
                <th>orden</th>
            </tr>
        </table>

    </section>
    <a href="/admin">Volver</a>
</html>