<div class="barra">
    <h2>Menú</h2>
    <ul>
      <li><a href="/">Inicio</a></li>
      {{#each Integrantes}}
      <li><a href="/integrantes/{{url}}"> {{nombre}}  </a></li>
      {{/each}}
      <li><a href="curso">Curso</a></li>
      <li><a href="word_cloud">Word Cloud</a></li>
      <li><a href="/admin">Admin</a></li>
    </ul>
  </div>